/backend/guichet
/backend/guichet.static
/backend/config.json
/backend/result
.direnv/
/backend/password
/backend/pb_data/*
/backend/guichet.exe
/backend/pb_public/*
.DS_Store
node_modules
/frontend/playwright-report
/frontend/build
/frontend/.svelte-kit
/frontend/package
.env
.env.*
!.env.example
