{{define "title"}}Liste des groupes |{{end}}

{{define "admenu"}}
{{if .Login.CanAdmin}}
<li><a href="#">Administration</a>
<ul class="submenu">
  <li><a href="/admin/activate">Administrer LDAP</a>
  <li><a href="/admin/activate">Activer des Utilisateur·ices</a></li>
  <li><a href="/admin/users">Utilisateur·ices</a></li>
  <li><a href="/admin/groups">Groupes</a></li>
</ul>
</li>
{{end}}
{{if .Login}}
<li><a href="/logout">Se déconnecter</a></li>
{{else}}
<li><a href="/">Se connecter</a>
  <ul class="submenu">
    <li><a href="/">Se connecter</a></li>
    <li><a href="/gpas">Mal de passe oublié</a></li>
    <li><a href="/invite/new_account">S'enregistrer</a></li>
  </ul>
</li>
{{end}}
{{end}}


{{define "body"}}

<div class="d-flex">
  <h2>Liste des groupes</h2>
  <a class="ml-auto btn btn-success" href="/admin/create/group/{{.GroupBaseDN}}">Nouveau groupe</a>
</div>

<div class="alert alert-warning mt-4">
    Les groupes servent uniquement à contrôler l'accès à différentes fonctionalités de Deuxfleurs.
    Ce ne sont pas des <a href="/admin/mailing">mailing lists</a>.
</div>

<table class="table mt-4">
  <thead>
    <th scope="col">Identifiant</th>
    <th scope="col">Nom complet</th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $group := $root.Groups}}
        <tr>
          <td>
            <a href="/admin/ldap/{{$group.DN}}">
              {{$group.GetAttributeValue $root.GroupNameAttr}}
            </a>
          </td>
          <td>{{$group.GetAttributeValue "description"}}</td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>

{{end}}
