{{define "title"}}Nouvel objet |{{end}}

{{define "body"}}
<div class="d-flex">
  <h4>Créer un objet</h4>
  <a class="ml-auto btn btn-info" href="/">Menu principal</a>
</div>

<div class="mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {{range .Path}}
        <li class="breadcrumb-item"><a href="/admin/ldap/{{.DN}}">{{.Identifier}}</a></li>
      {{end}}
      <li class="breadcrumb-item active" aria-current="page">Nouvel objet</li>
    </ol>
  </nav>
</div>

{{if .Error}}
  <div class="alert alert-danger mt-4">Impossible de créer l'objet.
    <div style="font-size: 0.8em">{{ .Error }}</div>
  </div>
{{end}}

<form method="POST" class="mt-4">
  <!--
  <div class="form-group">
    <label>Parent:</label>
    <input type="text" disabled="true" class="form-control" value="{{ .SuperDN }}" />
  </div>
  -->
  <div class="form-group">
    <label for="idvalue">Identifiant:</label>
    <input type="text" id="idvalue" name="idvalue" class="form-control" value="{{ .IdValue }}" />
  </div>
  <div class="form-group">
    <label for="idtype">Type d'identifiant:</label>
    <input type="text" {{if .Template}}disabled="disabled"{{end}} id="idtype" name="idtype" class="form-control" value="{{ .IdType }}" />
  </div>
  {{ if eq .Template "user" }}
    <div class="form-group">
      <label for="displayname">Nom:</label>
      <input type="text" id="displayname" name="displayname" class="form-control" value="{{ .DisplayName }}" />
    </div>
    <input type="hidden" name="description" value="" />
  {{ else }}
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" class="form-control" value="{{ .Description }}" />
    </div>
    <input type="hidden" name="displayname" value="" />
  {{ end }}
  <div class="form-group">
    <label for="soc">StructuralObjectClass:</label>
    <input type="text" {{if .Template}}disabled="disabled"{{end}} id="soc" name="soc" class="form-control" value="{{ .StructuralObjectClass }}" />
  </div>
  <div class="form-group">
    <label for="oc">ObjectClass:</label>
    <textarea  rows="5" {{if .Template}}disabled="disabled"{{end}} id="oc" name="oc" class="form-control">{{ .ObjectClass }}</textarea>
  </div>
  <button type="submit" class="btn btn-primary">Créer l'objet</button>
</form>

{{end}}
