{{define "title"}}Activer des utilisateurs |{{end}}

{{define "body"}}
<table class="table mt-4">
  <thead>
    <th scope="col">Identifiant</th>
    <th scope="col">Nom complet</th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $user := $root.Users}}
        <tr>
          <td>
            <a href="/admin/ldap/{{$user.DN}}">
              {{$user.GetAttributeValue "cn"}}
            </a>
          </td>
          <td>{{$user.GetAttributeValue "mail"}}</td>
          <td>{{$user.GetAttributeValue "displayName"}}</td>
          <td>{{$user.GetAttributeValue "sn"}}</td>
          <td>{{$user.GetAttributeValue "description"}}</td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>
{{end}}