{{define "title"}}Activer des utilisateurs |{{end}}

{{define "admenu"}}
{{if .Login.CanAdmin}}
<li><a href="#">Administration</a>
<ul class="submenu">
  <li><a href="/admin/activate">Administrer LDAP</a>
  <li><a href="/admin/activate">Activer des Utilisateur·ices</a></li>
  <li><a href="/admin/users">Utilisateur·ices</a></li>
  <li><a href="/admin/groups">Groupes</a></li>
</ul>
</li>
{{end}}
{{if .Login}}
<li><a href="/logout">Se déconnecter</a></li>
{{else}}
<li><a href="#">Se connecter</a>
  <ul class="submenu">
    <li><a href="/">Se connecter</a></li>
    <li><a href="/gpas">Mal de passe oublié</a></li>
    <li><a href="/invite/new_account">S'enregistrer</a></li>
  </ul>
</li>
{{end}}
{{end}}

{{define "body"}}
<table class="table mt-4">
  <thead>
    <th scope="col"></th>
    <th scope="col">Login</th>
    <th scope="col">Email</th>
    <th scope="col">Nom d'ffichage</th>
    <th scope="col">Prénom</th>
    <th scope="col">Nom de famille</th>
    <th scope="col">description</th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $user := $root.Users}}
        <tr>
          <td>
            <a href="/admin/activate/{{ $user.GetAttributeValue "cn" }}">
              Activer
            </a>
          </td>
          <td>
            <a href="/admin/ldap/{{$user.DN}}">{{$user.GetAttributeValue "cn"}}</a>
          </td>
          <td>{{$user.GetAttributeValue "mail"}}</td>
          <td>{{$user.GetAttributeValue "displayName"}}</td>
          <td>{{$user.GetAttributeValue "givenName"}}</td>
          <td>{{$user.GetAttributeValue "sn"}}</td>
          <td>{{$user.GetAttributeValue "description"}}</td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>
{{end}}