{{define "title"}}Mailing lists |{{end}}

{{define "admenu"}}
{{if .Login.CanAdmin}}
<li><a href="/admin/activate">Administrer LDAP</a>
<ul class="submenu">
  <li><a href="/admin/activate">Activer des Utilisateur·ices</a></li>
  <li><a href="/admin/users">Utilisateur·ices</a></li>
  <li><a href="/admin/groups">Groupes</a></li>
</ul>
</li>
{{end}}
{{if .Login}}
<li><a href="/logout">Se déconnecter</a></li>
{{else}}
<li><a href="/">Se connecter</a>
  <ul class="submenu">
    <li><a href="/">Se connecter</a></li>
    <li><a href="/gpas">Mal de passe oublié</a></li>
    <li><a href="/invite/new_account">S'enregistrer</a></li>
  </ul>
</li>
{{end}}
{{end}}

{{define "body"}}

<div class="d-flex">
  <h4>Mailing lists</h4>
  <a class="ml-auto btn btn-success" href="/admin/create/ml/{{.MailingBaseDN}}">Nouvelle mailing list</a>
  <a class="ml-4 btn btn-info" href="/">Menu principal</a>
</div>

<table class="table mt-4">
  <thead>
    <th scope="col">Adresse</th>
    <th scope="col">Description</th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $ml := $root.MailingLists}}
        <tr>
          <td>
            <a href="/admin/mailing/{{$ml.GetAttributeValue $root.MailingNameAttr}}">
              {{$ml.GetAttributeValue $root.MailingNameAttr}}
            </a>
          </td>
          <td>{{$ml.GetAttributeValue "description"}}</td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>

{{end}}
