{{define "title"}}Liste des groupes |{{end}}

{{define "body"}}

<div class="d-flex">
  <h4>Liste des groupes</h4>
  <a class="ml-auto btn btn-success" href="/admin/create/group/{{.GroupBaseDN}}">Nouveau groupe</a>
  <a class="ml-4 btn btn-info" href="/">Menu principal</a>
</div>

<table class="table mt-4">
  <thead>
    <th scope="col">Identifiant</th>
    <th scope="col">Nom complet</th>
  </thead>
  <tbody>
    {{with $root := .}}
      {{range $group := $root.Groups}}
        <tr>
          <td>
            <a href="/admin/ldap/{{$group.DN}}">
              {{$group.GetAttributeValue $root.GroupNameAttr}}
            </a>
          </td>
          <td>{{$group.GetAttributeValue "displayname"}}</td>
        </tr>
      {{end}}
    {{end}}
  </tbody>
</table>

{{end}}
