{{define "title"}}Annuaire |{{end}}

{{define "body"}}
<div class="d-flex">
    <h4>Annuaire</h4>
    <a class="ml-auto btn btn-info" href="/">Menu principal</a>
</div>



<form>
  <div class="form-group form-row">
    <div class="col-sm-2">&nbsp;</div>
    <label for="search" class="col-sm-2 col-form-label">Rechercher :</label>
    <input class="form-control col-sm-4" id="search" name="search" type="text" onkeyup="searchDirectory()" size="20">
  </div>
</form>

<div id="search-results"></div>

<script src="/static/javascript/search.js"></script>

{{end}}
