{{define "title"}}Annuaire |{{end}}

{{define "admenu"}}
{{if .Login.CanAdmin}}
<li><a href="#">Administration</a>
<ul class="submenu">
  <li><a href="/admin/activate">Administrer LDAP</a>
  <li><a href="/admin/activate">Activer des Utilisateur·ices</a></li>
  <li><a href="/admin/users">Utilisateur·ices</a></li>
  <li><a href="/admin/groups">Groupes</a></li>
</ul>
</li>
{{end}}
{{if .Login}}
<li>&lt;&nbsp;<a href="#">Compte</a>
  <ul class="submenu">
    <a href="/logout">Se déconnecter</a>
    <li><a href="/gpas">Mal de passe oublié</a></li>
    <li><a href="/invite/new_account">S'enregistrer</a></li>
  </ul></li>
{{else}}
<li> &lt;&nbsp;<a href="/">Se connecter</a></li>
{{end}}
{{end}}

<form>
  <div class="form-group form-row">
    <div class="col-sm-2">&nbsp;</div>
    <label for="search" class="col-sm-2 col-form-label">Rechercher :</label>
    <input class="form-control col-sm-4" id="search" name="search" type="text" onkeyup="searchDirectory()" size="20">
  </div>
</form>

<div id="search-results"></div>

<script src="/static/javascript/search.js"></script>
<script>
window.addEventListener("load", function(event) {
	searchDirectory();
});
</script>

{{end}}
