<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="/static/fonts/lack/stylesheet.css" />
  <link rel="stylesheet" type="text/css" href="/static/fonts/fengardoneue/font.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/lesgv/faire-ma-page.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/static/css/lesgv/burger.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/lesgv-colors.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/lesgv.css" />


  <title>{{template "title" .}}</title>
</head>

<body>
  <div class="container mb-4">
    <h1><a href="/">{{ template "title" .}}</a></h1>
    <nav role="navigation">
      <div id="menuToggle">
        <!--
        A fake / hidden checkbox is used as click reciever,
        so you can use the :checked selector on it.
        -->
        <input type="checkbox" id="menu-checkbox" />

        <!--
        Some spans to act as a hamburger.
        
        They are acting like a real hamburger,
        not that McDonalds stuff.
        -->
        <div class="burger">
          <span></span>
          <span></span>
          <span></span>
        </div>

        <!--
        Too bad the menu has to be inside of the button
        but hey, it's pure CSS magic.
        -->
        <ul id="menu">
          <li><a href="https://www.lesgrandsvoisins.com">Les Grands Voisins (.com)</a></li>
          {{template "admenu" .}}
          <li>&nbsp;&lt;&nbsp;<a href="#">Les Outils</a><ul class="submenu">
            <li><a href="https://www.lesgrandsvoisins.com/les-outils/">Les Outils</a></li>
            <li><a href="https://www.avmeet.com">AVMeet.com</a></li>
            <li><a href="https://wiki.lesgrandsvoisins.com">Wiki</a></li>
            <li><a href="https://www.lesgrandsvoisins.com/admin">Admin</a></li>
          </ul></li>
          <li>&lt;&nbsp;<a href="#">Compte</a>
            <ul class="submenu">
              {{if .Login}}
                  <a href="/logout">Se déconnecter</a>
                  <li><a href="/">Tableau de bord</a></li>
                  <li><a href="/profile">Modifier mon profil</a></li>
                  <li><a href="/passwd">Modifier mon mot de passe</a></li>
              {{else}}
              <li><a href="/">Se connecter</a></li>
              <li><a href="/gpas">Mal de passe oublié</a></li>
              <li><a href="/invite/new_account">S'enregistrer</a></li>
              {{end}}
            </ul></li>
          <li> &nbsp;&lt;&nbsp;<a href="#" class="jour-nuit" id="jour-nuit">Jour et nuit</a></li>
        </ul>
        
      </div>
    </nav>

    <hr />
    {{template "body" .}}
  </div>
  <script src="/static/javascript/jquery.slim.min.js"></script>
  <script src="/static/javascript/bootstrap.bundle.min.js"></script>
  <script src="/static/javascript/lesgv.js"></script>
  <script src="/static/javascript/burger.js"></script>
  <script src="/static/javascript/journuit.js"></script>
</body>

</html>