{{define "title"}}LesGV.com{{end}}

{{define "body"}}


<center>
<img src="static/image/outilsinformatiques.svg" class="lesgv hero">
</center>

<h4>S'identifier</h4>

<form method="POST">
  {{if .WrongUser}}
    <div class="alert alert-danger">Identifiant invalide.</div>
  {{end}}
  {{if .WrongPass}}
    <div class="alert alert-danger">Mot de passe invalide.</div>
  {{end}}
  {{if .ErrorMessage}}
    <div class="alert alert-danger">Impossible de se connecter.
      <div style="font-size: 0.8em">{{ .ErrorMessage }}</div>
    </div>
  {{end}}
  <div class="form-group">
    <label for="username">Identifiant :</label>
    <input type="text" name="username" id="username" class="form-control" value="{{ .Username }}" />
  </div>
  <div class="form-group">
    <label for="password">Mot de passe :</label>
    <input type="password" name="password" id="password" class="form-control" />
  </div>
  <button type="submit" class="btn btn-primary">Se connecter</button>
</form>

<hr class="mt-4" />

<p><strong>Mot de passe oublié ?</strong>
Écrivez à <samp>chris</samp><img src="static/image/at_sign.svg" style="height: 1em" alt="arobase" /><samp>lesgandsvoisins.com</samp>
  ou contactez directement votre opérateur·ice préféré·e.</p>

{{end}}
