{{define "title"}}Mot de passe |{{end}}

{{define "body"}}
<h4>Modifier mon mot de passe</h4>

  {{if .ErrorMessage}}
    <div class="alert alert-danger">Impossible d'effectuer la modification.
      <div style="font-size: 0.8em">{{ .ErrorMessage }}</div>
    </div>
  {{end}}
  {{if .Success}}
    <div class="alert alert-success">
       Nouveau mot de passe enregistré.
    </div>
    <a class="btn btn-info" href="/">Retour</a>
  {{else}}
    <form method="POST">
      <div class="form-group">
        <label for="password">Nouveau mot de passe :</label>
        <input type="password" id="password" name="password" class="form-control" />
      </div>
      <div class="form-group">
        <label for="password2">Répéter le mot de passe :</label>
        <input type="password" id="password2" name="password2" class="form-control" />
      </div>
      {{if .NoMatchError}}
        <div class="alert alert-warning">
          Les deux mots de passe entrés ne correspondent pas.
        </div>
      {{end}}
      <div class="d-flex">
        <button type="submit" class="btn btn-primary">Changer de mot de passe</button>
        <a class="ml-auto btn btn-danger" href="/">Annuler</a>
      </div>
    </form>
  {{end}}
{{end}}
