{{define "title"}}Profile |{{end}}
{{define "admenu"}}
{{if .Login.CanAdmin}}
<li><a href="/admin/activate">Administrer LDAP</a>
<ul class="submenu">
  <li><a href="/admin/activate">Activer des Utilisateur·ices</a></li>
  <li><a href="/admin/users">Utilisateur·ices</a></li>
  <li><a href="/admin/groups">Groupes</a></li>
</ul>
</li>
{{end}}
{{if .Login}}
<li><a href="/logout">Se déconnecter</a></li>
{{else}}
<li><a href="/">Se connecter</a>
  <ul class="submenu">
    <li><a href="/">Se connecter</a></li>
    <li><a href="/gpas">Mal de passe oublié</a></li>
    <li><a href="/invite/new_account">S'enregistrer</a></li>
  </ul>
</li>
{{end}}
{{end}}
{{define "body"}}
<div class="d-flex">
  <h2>Modifier mon profil</h2>
</div>

  {{if .ErrorMessage}}
    <div class="alert alert-danger mt-4">Impossible d'effectuer la modification.
      <div style="font-size: 0.8em">{{ .ErrorMessage }}</div>
    </div>
  {{end}}
  {{if .Success}}
    <div class="alert alert-success mt-4">
        Profil enregistré.
    </div>
  {{end}}
  <form method="POST" class="mt-4" enctype="multipart/form-data">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Identifiant:</label>
        <input type="text" disabled="true" class="form-control" value="{{ .Status.Info.Username }}" />
      </div>
      <div class="form-group col-md-6">
        <label for="mail">Adresse e-mail:</label>
        <input type="text" id="mail" disabled="true" name="mail" class="form-control" value="{{ .Mail }}" />
      </div>
    </div>
    <div class="form-group">
      <label for="display_name">Nom complet:</label>
      <input type="text" id="display_name" name="display_name" class="form-control" value="{{ .DisplayName }}" />
    </div>

{{/* 
<!--
    <h4>Informations complémentaires</h4>
      {{if .ProfilePicture}}
        <div class="float-right">
          <a href="/picture/{{.ProfilePicture}}">
            <img src="/picture/{{.ProfilePicture}}-thumb" />
          </a>
        </div>
      {{end}}
-->
<!--
    <div class="form-group form-check">
      {{if .Visibility}}
        <input class="form-check-input" name="visibility" type="checkbox" id="visibility" value="on" checked>
      {{else}}
        <input class="form-check-input" name="visibility" type="checkbox" id="visibility">
      {{end}}
      <label class="form-check-label" for="visibility">Apparaître sur l'annuaire</label>
    </div>
-->
<!--
    <div class="form-row">
      <div class="form-group col-md-8 input-group mb-3 custom-file">
        <label for="image">Photo de profil:</label>
        <input type="file" name="image" class="custom-file-input" id="image">
        <label class="custom-file-label" for="image">Photo de profil (jpeg, jpg or png)</label>
      </div>
    </div>
-->
*/}}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="given_name">Prénom:</label>
        <input type="text" id="given_name" name="given_name" class="form-control" value="{{ .GivenName }}" />
      </div>
      <div class="form-group col-md-6">
        <label for="surname">Nom de famille:</label>
        <input type="text" id="surname" name="surname" class="form-control" value="{{ .Surname }}" />
      </div>
    </div>

    <div class="form-group">
      <label for="description">Description</label>
      <textarea id="description" name="description" class="form-control">{{ .Description }}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer les modifications</button>
  </form>
  <script src="/static/javascript/minio.js"></script>
{{end}}
